@mixin checkbox {
  display: flex;
  position: relative;
  cursor: pointer;

  $size: 16px;

  input[type='checkbox'] {
    opacity: 0;
    position: absolute;
  }

  .label {
    width: 100%;
    margin: 1px 0 0 0;
    padding-left: $margin-regular - $margin-tiny;
  }

  .label::before {
    @include absolute();
    @include pseudo();
    width: $size;
    height: $size;
    border-radius: 3px;
    border: 1px solid var(--root-scheme-edge);
    background: $bg-bright;
  }

  input:checked + .label::after {
    @include absolute(4px, 4px);
    @include pseudo();
    width: 0;
    height: 0;
    border: 4px solid $bg-selected;
    border-radius: 1px;
  }

  &.is-disabled {
    cursor: default;
  }
}
