@import '../lib/vars/vars-from-map';
@import '../lib/vars/vars-declare.mixin';

@import '../settings';

$root-scheme-base: vars-from-map('root-scheme-base', color-group('base'));
$root-scheme-feature: vars-from-map('root-scheme-feature', color-group('feature'));
$root-scheme-primary: vars-from-map('root-scheme-primary', color-group('primary'));
$root-scheme-secondary: vars-from-map('root-scheme-secondary', color-group('secondary'));

@mixin scheme-root {
  @include vars-declare($root-scheme-base);
  @include vars-declare($root-scheme-feature);
  @include vars-declare($root-scheme-primary);
  @include vars-declare($root-scheme-secondary);
}

@mixin scheme-base {
  color: var(--root-scheme-base-fg);
  background-color: var(--root-scheme-base-bg);

  a {
    color: var(--root-scheme-base-a);
    font-weight: var(--root-type-weights-bold);
  }
}

@mixin scheme-feature {
  color: var(--root-scheme-feature-fg);
  background-color: var(--root-scheme-feature-bg);

  a {
    color: var(--root-scheme-feature-a);
    text-decoration: none;
  }
}

@mixin scheme-primary {
  color: var(--root-scheme-primary-fg);
  background-color: var(--root-scheme-primary-bg);

  a {
    color: var(--root-scheme-primary-a);
    text-decoration: none;
  }
}

@mixin scheme-secondary {
  color: var(--root-scheme-secondary-fg);
  background-color: var(--root-scheme-secondary-bg);

  a {
    color: var(--root-scheme-secondary-a);
    text-decoration: none;
  }
}
