@import '../lib/vars/vars-from-map';
@import '../lib/vars/vars-get';
@import '../lib/vars/vars-declare.mixin';
@import '../lib/vars/vars-use.mixin';

@import '../settings';

$root-scheme-base: vars-from-map('root-scheme-base', color-group('base'));
$root-scheme-feature: vars-from-map('root-scheme-feature', color-group('feature'));
$root-scheme-primary: vars-from-map('root-scheme-primary', color-group('primary'));
$root-scheme-secondary: vars-from-map('root-scheme-secondary', color-group('secondary'));

@mixin scheme-root {
  @include vars-declare($root-scheme-base);
  @include vars-declare($root-scheme-feature);
  @include vars-declare($root-scheme-primary);
  @include vars-declare($root-scheme-secondary);
}

@mixin scheme-base {
  @include vars-use('color', $root-scheme-base, 'fg');
  @include vars-use('background-color', $root-scheme-base, 'bg');

  a {
    @include vars-use('color', $root-scheme-base, 'a');
    font-weight: var(--root-type-weights-bold, type-weight(medium));
  }
}

@mixin scheme-feature {
  @include vars-use('color', $root-scheme-feature, 'fg');
  @include vars-use('background-color', $root-scheme-feature, 'bg');

  a {
    @include vars-use('color', $root-scheme-feature, 'a');
    text-decoration: none;
  }
}

@mixin scheme-primary {
  @include vars-use('color', $root-scheme-primary, 'fg');
  @include vars-use('background-color', $root-scheme-primary, 'bg');

  a {
    @include vars-use('color', $root-scheme-primary, 'a');
    text-decoration: none;
  }
}

@mixin scheme-secondary {
  @include vars-use('color', $root-scheme-secondary, 'fg');
  @include vars-use('background-color', $root-scheme-secondary, 'bg');

  a {
    @include vars-use('color', $root-scheme-secondary, 'a');
    text-decoration: none;
  }
}
