@import '../lib/vars/vars-from-map';
@import '../lib/vars/vars-declare.mixin';
@import '../settings';

$__root-scheme: vars-from-map('root-scheme', color-group('base'));

@mixin scheme-root {
  @include vars-declare($__root-scheme);
}

@mixin scheme-base {
  @include scheme-root;
  color: var(--root-scheme-fg);
  background-color: var(--root-scheme-bg);

  a {
    color: var(--root-scheme-a);
    font-weight: var(--root-type-weights-bold);

    &:hover {
      color: var(--root-scheme-active);
    }
  }
}

$__scheme_feature: vars-from-map('root-scheme', color-group('feature'));

@mixin scheme-feature {
  @include vars-declare($__scheme_feature);
  color: var(--root-scheme-fg);
  background-color: var(--root-scheme-bg);

  a {
    color: var(--root-scheme-a);

    &:hover {
      color: var(--root-scheme-active);
    }
  }
}

$__scheme_primary: vars-from-map('root-scheme', color-group('primary'));

@mixin scheme-primary {
  @include vars-declare($__scheme_primary);
  color: var(--root-scheme-fg);
  background-color: var(--root-scheme-bg);

  a {
    color: var(--root-scheme-a);

    &:hover {
      color: var(--root-scheme-active);
    }
  }
}

$__scheme_secondary: vars-from-map('root-scheme', color-group('secondary'));

@mixin scheme-secondary {
  @include vars-declare($__scheme_secondary);
  color: var(--root-scheme-fg);
  background-color: var(--root-scheme-bg);

  a {
    color: var(--root-scheme-a);

    &:hover {
      color: var(--root-scheme-active);
    }
  }
}
