@import '../vars/type';

@mixin heading-1 {
  @include strong;
  font-size: 3.5rem;
}

@mixin heading-2 {
  @include strong;
  font-size: 2.5rem;
}

@mixin heading-3 {
  @include strong;
  font-size: 1.5rem;
}

@mixin heading-4 {
  @include strong;
  font-size: $font-size-regular;
}

@mixin strong {
  font-weight: 700;
}

@mixin overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin muted {
  font-size: $font-size-small;
  color: $fg-type-muted;
  opacity: $opacity-muted;
}

@mixin copy {
  h1 {
    @include heading-1;
  }

  h2 {
    @include heading-2;
  }

  h3 {
    @include heading-3;
  }

  h4 {
    @include heading-4;
  }
}
