@import '../lib/vars/vars-from-map';
@import '../lib/vars/vars-declare.mixin';

@import '../settings';

$root-type-families: vars-from-map('root-type-families', settings('type-families'));
$root-type-sizes: vars-from-map('root-type-sizes', settings('type-sizes'));
$root-type-weights: vars-from-map('root-type-weights', settings('type-weights'));
$root-type-heights: vars-from-map('root-type-heights', settings('type-heights'));

$faces: settings('type-faces');
$sizes: settings('type-sizes');
$scalars: settings('type-scalars');

@function responsive-type-size($size) {
  $scalar: map-get($scalars, $size);
  @return calc(var(--root-type-sizes-#{$size}) + #{$scalar}vw);
}

@mixin font-faces {
  @each $key, $value in $faces {
    $family: map-get($value, 'family');
    $style: map-get($value, 'style');
    $weight: map-get($value, 'weight');
    $url: map-get($value, 'url');
    @font-face {
      font-family: '#{$family}';
      font-style: '#{$style}';
      font-weight: '#{$weight}';
      src: url('#{$url}.woff') format('woff'), url('#{$url}.ttf') format('truetype');
    }
  }
}

@mixin type-root {
  @include vars-declare($root-type-families);
  @include vars-declare($root-type-sizes);
  @include vars-declare($root-type-weights);
  @include vars-declare($root-type-heights);
}

@mixin type-scale {
  font-size: settings('type-scale');
}

@mixin type-base {
  font-family: var(--root-type-families-base);
  font-weight: var(--root-type-weights-base);
  line-height: var(--root-type-heights-base);
  font-size: calc(var(--root-type-sizes-base) + 0.5vw);
}

@mixin type-alt {
  font-family: var(--root-type-families-alt);
  line-height: var(--root-type-heights-small);
}

@mixin type-deco {
  font-family: var(--root-type-families-deco);
  font-weight: var(--root-type-weights-medium);
  line-height: var(--root-type-heights-small);
}

@mixin type-brand {
  font-family: var(--root-type-families-brand);
  font-weight: var(--root-type-weights-heavy);
  line-height: var(--root-type-heights-small);
}

@mixin heading {
  @include type-alt;
  font-weight: var(--root-type-weights-light);
}

@mixin heading-1 {
  @include heading;
  margin-top: calc(var(--root-space-unit) * 3.5px);
  margin-bottom: calc(var(--root-space-unit) * 2px);
  font-size: calc(var(--root-type-sizes-h1) + 0.5vw);
}

@mixin heading-2 {
  @include heading;
  font-size: calc(var(--root-type-sizes-h2) + 0.5vw);
}

@mixin heading-3 {
  @include heading;
  font-size: calc(var(--root-type-sizes-h3) + 0.5vw);
}

@mixin heading-4 {
  @include heading;
  font-weight: var(--root-type-weights-light);
  font-size: calc(var(--root-type-sizes-h4) + 0.5vw);
}

@mixin type-small {
  font-size: calc(var(--root-type-sizes-small) + 0.5vw);
}

@mixin copy {
  h1 {
    @include heading-1;
  }

  h2 {
    @include heading-2;
  }

  h3 {
    @include heading-3;
  }

  h4 {
    @include heading-4;
  }
}

@mixin text-truncate {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
