@import './palette';

$fg-base: $color-dark;
$bg-base: $color-bright;

$fg-invert: $color-bright-invert;
$bg-invert: $color-dark-invert;

$bg-selected: $color-selected;

$opacity-muted: 0.62;

$bg-pri: $color-pri;
