$margin-large: 60px;
$margin-regular: 30px;
$margin-small: 10px;
$margin-tiny: 5px;

$padding-regular: 30px;

$container-width: 780px;
$container-margin: $margin-small;
$container-width-large: 1024px;
$container-margin-large: $margin-large;

$breakpoint-medium: ($container-width + $container-margin * 2);
$breakpoint-large: ($container-width-large + $container-margin-large * 2);
