@import '../styles/mixins/layout';
@import '../styles/mixins/type';

@mixin -page {
  section {
    margin-bottom: gap('huge');
  }

  > section:first-of-type {
    padding-top: gap('huge');
  }

  .page-title {
    @include heading-1;
    margin-top: 0;
  }
}

@mixin base-page {
  @include -page;

  .container {
    @include container-compact;
  }
}

@mixin wide-page {
  @include -page;

  .container {
    @include container;
  }
}
