@import '../../../Shared/styles/mixins/a11y';
@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/styles/mixins/scheme';
@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/styles/settings';

.site-footer {
  @include noselect;
  @include scheme-secondary;
  @include type-small;
  @include type-alt;
  @include styled-link;
  line-height: var(--root-type-heights-large);
  padding-top: gap('huge');
  padding-bottom: gap('large');

  hr {
    display: none;
  }

  .container {
    @include container-wide;
  }

  .navigation {
    display: flex;
    margin-bottom: gap('large');
    font-size: responsive-type-size('base');

    nav {
      margin-right: gap('large');
    }

    @include breakpoint-medium {
      nav {
        margin-right: gap('huge');
      }
    }

    @include breakpoint-medium {
      nav {
        margin-right: gap('huge', 2);
      }
    }
  }

  .copyright,
  .license {
    @include type-small;

    margin-top: 0;
    margin-bottom: gap('small');
  }
}
