@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/templates/BasePage.mixin';

.blog-post {
  @include base-page;

  .post-item {
    @include rhythm-v;
    @include spacing-h;
    @include spacing-v;

    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.2) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .node-date {
    display: block;
    margin-bottom: gap('medium');
  }

  .post-abstract {
    padding-bottom: gap('medium');
    margin-bottom: gap('huge');
    color: color('base', 'muted');
    font-size: responsive-type-size('large');
    font-style: italic;
    border-bottom: 1px solid color('base', 'dim');

    p {
      margin: gap('medium') 0;
    }
  }

  /* stylelint-disable-line selector-max-compound-selectors */
  .post-contents p:first-child::first-letter {
    float: left;
    padding-top: 2px;
    padding-right: gap('small', 1.5);
    font-size: 320%;
    line-height: 1;
    color: color('base', 'muted');
  }
}
