@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/templates/BasePage.mixin';

.blog-post {
  @include base-page;

  .post-item {
    @include rhythm-v;
    @include spacing-h;
    @include spacing-v;

    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.2) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .post-abstract {
    margin-bottom: gap('large');
    padding-left: gap('medium');
    color: color('base', 'muted');
    font-size: responsive-type-size('small');
    border-left: 3px solid color('base', 'edge');
  }

  /* stylelint-disable-line selector-max-compound-selectors */
  .post-contents p:first-child::first-letter {
    float: left;
    padding-top: 2px;
    padding-right: gap('small', 1.5);
    font-size: 320%;
    line-height: 1;
    color: color('base', 'muted');
  }
}
