@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/styles/mixins/layout';

@mixin markdown {
  @include copy;

  .task-card {
    list-style-type: none;
  }
}

@mixin markdown-base {
  @include markdown;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
