@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/styles/mixins/layout';

@mixin markdown {
  @include copy;

  .task-card {
    list-style-type: none;
  }
}

@mixin markdown-base {
  @include markdown;

  .icon {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  audio {
    width: 100%;
    filter: contrast(90%) invert(90%);
  }

  blockquote {
    position: relative;
    margin: gap('medium') gap('huge') gap('huge');
  }

  blockquote:before {
    position: absolute;
    width: 0;
    height: 0;
    color: var(--root-scheme-alt);
    text-align: center;
    font-family: var(--root-type-families-deco);
    font-size: responsive-type-size('giga');
    font-weight: type-weight('heavy');
    background-color: pink;
  }

  blockquote:before {
    content: '“';
    left: calc(var(--root-space-unit, 10) * -5px);
    top: calc(var(--root-space-unit, 10) * -3px);
  }
}
