@import '../../styles/mixins/reset';
@import '../../styles/mixins/layout';
@import '../../styles/mixins/type';

@mixin base-list-item-block {
  .node-contents {
    display: block;
  }

  &.has-link {
    .node-contents {
      text-decoration: none;
    }
  }
}

@mixin base-list-item-style {
  .node-date {
    @include type-small;

    display: inline-block;
  }

  .node-title {
    @include heading-2;

    margin-top: 0;
  }

  .read-more {
    margin-bottom: gap('small');
  }
}

@mixin base-list-item {
  @include base-list-item-block;
  @include rhythm-v;

  .node-contents {
    @include spacing-h;
    @include spacing-v;
    @include rhythm-v-compact;
  }

  .node-footer {
    @include spacing-h;
  }
}
