@import '../../../Shared/styles/mixins/reset';
@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/styles/mixins/scheme';
@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/blocks/BaseCard/BaseCard.mixin';
@import '../../styles/TagNode.mixins.scss';

.tag-card {
  @include base-card;
  @include tag-node-style;

  .contents {
    padding-top: gap('small');
    padding-bottom: gap('small');
    padding-left: gap('medium');
  }

  .node-title {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: responsive-type-size('h2');
  }

  .tag-count {
    @include tag-color-inverse;
    flex-shrink: 0;
    font-size: responsive-type-size('h3');
    background-color: var(--root-scheme-bg-alt);
  }

  .hashtag {
    @include text-truncate;
  }

  .node-markdown {
    @include type-alt;
    margin-bottom: gap('small');
    padding-top: gap('small');
    line-height: var(--root-line-height-large);
    color: var(--root-scheme-bg-alt);
  }
}
