@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/styles/mixins/scheme';
@import '../../styles/TagNode.mixins.scss';

.tag-count {
  @include tag-node-scheme;
  @include type-deco;
  min-width: 1.2em;
  height: 1.15em;
  margin-right: gap('medium');
  padding: 0 gap('small');
  line-height: 1.15em;
  text-align: center;
  font-weight: type-weight('heavy');
  color: var(--root-scheme-alt);
  border-radius: gap('tiny');
}
