@import './color.vars';
@import './size.vars';

@mixin card {
  padding: $margin-regular;
  background-color: $bg-bright;
}

@mixin card-header {
  @include strong;
  margin-bottom: $margin-regular;
}
