@import '../../styles/mixins/layout';
@import '../../styles/mixins/type';

.is-draft {
  position: relative;

  &::after {
    @include type-alt;
    position: absolute;
    top: gap('base', -1);
    left: 0;
    display: inline-block;
    content: 'Draft';
    padding: 0 2rem;
    font-size: 14px;
    color: hsl(0, 0%, 7%);
    background: hsla(58, 93%, 48%, 75%);
    border-top: 2px dashed hsl(0, 0%, 7%);
    border-bottom: 2px dashed hsl(0, 0%, 7%);
  }
}
