@import '../../../Shared/styles/mixins/scheme';
@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/styles/mixins/type';

.node-notes {
  @include rhythm-v-compact;
  @include spacing-h;
  padding-top: gap('base');
  padding-bottom: gap('base');
  opacity: 0.9;
  font-size: responsive-type-size('small');
  line-height: var(--root-type-heights-small);
  color: hsl(0, 0%, 7%);
  background: hsla(58, 93%, 48%, 75%);
  border: dashed hsl(0, 0%, 7%) 0;
  border-top-width: 2px;
  border-bottom-width: 2px;

  h3 {
    @include type-alt;
    @include type-alt;
    margin: 0 0 gap('base');
    font-size: responsive-type-size('medium');
  }
}
