@import '../../../Shared/styles/mixins/scheme';
@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/styles/mixins/type';

.node-notes {
  @include rhythm-v-compact;
  @include spacing-h;
  padding-top: gap('base');
  padding-bottom: gap('base');
  font-size: responsive-type-size('small');
  line-height: var(--root-type-heights-small);
  color: #111;
  background: hsl(58, 93%, 48%);
  border: dashed #111 0px;
  border-top-width: 2px;
  border-bottom-width: 2px;

  h3 {
    @include type-alt;
    @include type-alt;
    margin: 0;
    font-size: responsive-type-size('medium');
  }
}
