@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/styles/mixins/scheme';
@import '../../../Shared/blocks/BaseCard/BaseCard.mixin';
@import '../../styles/ImageNode.mixins.scss';

.media-image-card {
  @include base-card-block;
  @include spacing-h-negative;
  @include image-node-style;

  .contents {
    @include rhythm-v-compact;
  }

  header,
  .node-markdown,
  footer {
    @include spacing-h-positive;
  }

  header {
    @include spacing-v;
    overflow: hidden;
  }

  .node-title {
    @include heading-2;
    margin: 0;
  }

  .image {
    @include breakpoint-compact {
      padding: 0 gap('base') gap('huge');
    }
  }

  .node-markdown {
    @include spacing-v;
    color: var(--root-scheme-fg);

    @include breakpoint-compact {
      margin-top: gap('large', -1);
      padding-top: 0;
      padding-bottom: gap('huge');
    }
  }
}
