@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/blocks/BaseListItem/BaseListItem.mixin';

.page-list-item {
  @include base-list-item;

  .node-contents {
    @include base-list-item-style;

    border: 1px solid color('base', 'edge');
    border-left-color: transparent;
    border-right-color: transparent;
  }

  @include breakpoint-compact {
    .node-contents {
      border-left-color: color('base', 'edge');
      border-right-color: color('base', 'edge');
    }
  }
}
