@import '../../../Shared/styles/mixins/scheme';
@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/styles/mixins/layout';

.tag-item {
  @include rhythm-v;

  .tag-contents {
    @include rhythm-v-compact;

    header {
      display: flex;
      align-items: baseline;
      margin-bottom: gap('medium');
    }

    .page-title {
      @include text-truncate;
      white-space: pre-wrap;
      margin: 0;
    }
  }

  .tag-count {
    font-size: responsive-type-size('h2');
    flex-shrink: 0;
  }
}
