@import '../../../Shared/styles/mixins/a11y';
@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/styles/mixins/scheme';

.hero {
  @include scheme-secondary;
  @include noselect;
  position: relative;
  overflow: hidden;
  min-height: 40vh;

  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .content {
    @include container;
    @include type-medium;
    padding-top: 5vh;
    margin-bottom: 5vh;
    position: relative;
    z-index: 1;

    .page-title {
      @include type-brand;
    }

    > * {
      max-width: 800px;
    }
  }

  .hero-header {
    margin-bottom: gap('medium');
  }

  h1,
  h2,
  h3,
  h4,
  p {
    background-color: var(--root-scheme-bg);
    display: inline;
  }

  hr {
    opacity: 0;
    margin: 0 0 gap('small');
  }
}
