@import './lib/util/non-destructive-map-merge';
@import './lib/settings';

@import './settings/space';
@import './settings/type';
@import './settings/color';

$defaults: (
  space-unit: $space-unit,
  space-gaps: $space-gaps,
  space-containers: $space-containers,
  space-breakpoints: $space-breakpoints,
  type-scale: $type-scale,
  type-families: $type-families,
  type-sizes: $type-sizes,
  type-heights: $type-heights,
  type-weights: $type-weights,
  type-faces: $type-faces,
  color-primitives: $color-primitives,
  color-groups: $color-groups
);

$config: () !default;
$settings: non-destructive-map-merge($defaults, $config);
