@import '../../Shared/styles/mixins/scheme';

@mixin page-node-scheme {
  border: 1px solid var(--root-scheme-edge);
  border-left-width: 0px;
  border-right-width: 0px;

  @include breakpoint-compact {
    border-left-width: 1px;
    border-right-width: 1px;
  }
}

@mixin page-node-style {
  .contents {
    @include page-node-scheme;
  }
}
