@import '../../../Shared/styles/mixins/scheme';
@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/styles/mixins/layout';
@import '../../styles/TagNode.mixins.scss';

.tag-detail {
  @include rhythm-v;

  .contents {
    @include rhythm-v-compact;

    .page-title {
      @include text-truncate;
      white-space: pre-wrap;
      margin: 0;
    }
  }

  header {
    display: flex;
    align-items: baseline;
    margin-bottom: gap('medium');
  }

  .node-markdown {
    @include type-alt;
    line-height: var(--root-line-height-large);
  }

  .tag-count {
    font-size: responsive-type-size('h2');
    flex-shrink: 0;
  }
}
