@import '../../styles/mixins/reset';
@import '../../styles/mixins/layout';
@import '../../styles/mixins/type';

@mixin node-list-item {
  margin-bottom: gap('large');
  padding-bottom: gap('medium');
  border-bottom: 1px solid color('base', 'edge');

  .node-date {
    @include type-small;
    display: block;
  }

  h2 {
    @include heading-2;
    margin-top: 0;
  }

  .read-more {
    margin-bottom: gap('large');
  }
}
