@import '../../../Shared/styles/mixins/layout';

@import '../../../Shared/blocks/BaseListItem/BaseListItem.mixin';

.meta-list-item {
  @include base-list-item;

  .node-contents {
    @include base-list-item-style;
    background-color: color('bright', 0);
    border-left-color: transparent;
    border-right-color: transparent;
  }

  .last-updated {
    @include type-small;
    margin: 0;
  }

  .node-title {
    margin-bottom: gap('medium');
  }

  @include breakpoint-compact {
    .node-contents {
      border-left-color: color('base', 'edge');
      border-right-color: color('base', 'edge');
    }
  }
}
