@import '../../styles/mixins/type';
@import '../../styles/mixins/scheme';
@import '../../styles/mixins/layout';

.node-meta {
  @include type-small;

  em {
    @include type-alt;
    font-style: initial;
    font-weight: type-weight('heavy');
    color: color('primary', 'bg');
  }

  .node-published,
  .tag-list {
    display: inline;
  }

  .tag-list {
    li {
      display: inline;
    }
  }
}
