@import '../../../Shared/styles/mixins/reset';
@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/styles/mixins/scheme';
@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/blocks/BaseListItem/BaseListItem.mixin';

.tag-list-item {
  @include base-list-item;

  .node-contents {
    @include scheme-secondary;
    padding-top: gap('small');
    padding-bottom: gap('small');
    padding-left: gap('medium');
  }

  .node-title {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: responsive-type-size('h2');
  }

  .tag-count {
    @include scheme-base;
    flex-shrink: 0;
    font-size: responsive-type-size('h3');
    color: color('secondary', 'bg');
  }

  .hashtag {
    @include text-truncate;
  }

  .node-markdown {
    margin-bottom: gap('small');
    padding-top: gap('small');
  }
}
