@import '../../../Shared/styles/mixins/reset';
@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/styles/mixins/scheme';
@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/blocks/BaseListItem/BaseListItem.mixin';

.tag-list-item {
  @include base-list-item;

  .node-contents {
    @include scheme-secondary;

    padding-top: gap('tiny');
    padding-bottom: gap('tiny');
    padding-left: gap('medium');
  }

  .node-title {
    @include text-truncate;

    display: flex;
    align-items: center;
    margin: 0;
    font-size: responsive-type-size('h2');
  }

  .markdown-basic {
    margin-bottom: gap('small');
    padding-top: gap('small');
  }

  .tag-count {
    @include scheme-base;

    font-size: responsive-type-size('h3');
    color: color('secondary', 'bg');
  }
}
