.AnchoredHeading {
  position: relative;
  outline: none;
}

.AnchoredHeading .handle {
  position: absolute;
  top: -84px;
  left: -18px;
  padding-top: 84px;
  outline: none;
  border: none;
  width: 0px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.AnchoredHeading:focus .handle,
.AnchoredHeading:hover .handle {
  opacity: 1;
}

.AnchoredHeading .handle::before {
  display: block;
  content: '¶';
  width: 18px;
  text-align: center;
  font-size: 0.5em;
  line-height: 2em;
}
