@import '../../../Shared/styles/mixins/a11y';
@import '../../../Shared/styles/mixins/type';
@import '../../../Shared/styles/mixins/layout';

@keyframes animation-spring {
  0%,
  100% {
    top: 0;
    opacity: 1;
    background-color: var(--root-scheme-a);
  }

  80% {
    top: gap('base');
    opacity: 1;
    background-color: var(--root-scheme-active);
  }
}

.link-to-top {
  @include noselect;
  display: block;
  padding-top: gap('large');
  text-align: center;
  font-size: responsive-type-size('h3');
  font-weight: type-weight('heavy');

  .link {
    display: inline-block;
    position: relative;
    width: gap('large');
    height: gap('large');
    background-color: var(--root-scheme-a);
    mask-image: url('/assets/icons/up-arrow-svgrepo-com.svg');

    @include breakpoint-medium {
      width: gap('large', 1.5);
      height: gap('large', 1.5);
    }

    @include breakpoint-large {
      width: gap('huge');
      height: gap('huge');
    }

    &:hover,
    &:active {
      animation: animation-spring 0.75s infinite ease-in-out;
    }
  }
}
