$space-unit: 10;

$space-gaps: (
  giga: 12,
  mega: 8.5,
  huge: 5.5,
  large: 3,
  medium: 2,
  base: 1,
  small: 1/2,
  tiny: 1/4
);

$-container-base: 37;
$-container-compact: 72;
$-container-small: 80;
$-container-medium: 120;
$-container-large: 160;
$-container-huge: 200;

$-gap-base: map-get($space-gaps, 'base');
$-gap-small: map-get($space-gaps, 'medium');
$-gap-medium: map-get($space-gaps, 'large');
$-gap-large: map-get($space-gaps, 'huge');
$-gap-huge: map-get($space-gaps, 'mega');

$space-containers: (
  base: (
    width: $-container-base,
    gap: $-gap-base
  ),
  compact: (
    width: $-container-compact,
    gap: $-gap-small
  ),
  small: (
    width: $-container-small,
    gap: $-gap-small
  ),
  medium: (
    width: $-container-medium,
    gap: $-gap-medium
  ),
  large: (
    width: $-container-large,
    gap: $-gap-large
  ),
  huge: (
    width: $-container-huge,
    gap: $-gap-huge
  )
);

$space-breakpoints: (
  small: (
    $-container-base + $-gap-base * 2
  ) * $space-unit,
  compact: (
    $-container-compact + $-gap-small * 2
  ) * $space-unit,
  medium: (
    $-container-small + $-gap-small * 2
  ) * $space-unit,
  large: (
    $-container-medium + $-gap-medium * 2
  ) * $space-unit,
  huge: (
    $-container-large + $-gap-large * 2
  ) * $space-unit
);
