$space-unit: 10;

$space-gaps: (
  large: 4,
  medium: 2,
  base: 1,
  small: 1/2
);

$-container-base: 37;
$-container-compact: 68;
$-container-small: 80;
$-container-medium: 120;

$-gap-base: map-get($space-gaps, 'base');
$-gap-small: map-get($space-gaps, 'medium');
$-gap-medium: map-get($space-gaps, 'large');

$space-containers: (
  base: (
    width: $-container-base,
    gap: $-gap-base
  ),
  compact: (
    width: $-container-compact,
    gap: $-gap-small
  ),
  small: (
    width: $-container-small,
    gap: $-gap-small
  ),
  medium: (
    width: $-container-medium,
    gap: $-gap-medium
  )
);

$space-breakpoints: (
  small: (
    $-container-base + $-gap-base * 2
  ) * $space-unit,
  compact: (
    $-container-compact + $-gap-small * 2
  ) * $space-unit,
  medium: (
    $-container-small + $-gap-small * 2
  ) * $space-unit,
  large: (
    $-container-medium + $-gap-medium * 2
  ) * $space-unit
);
