@import '../../../Shared/styles/mixins/layout';
@import '../../../Shared/styles/mixins/type';
@import '../../styles/PostNode.mixins.scss';

.post-detail {
  @include rhythm-v;
  @include post-node-style;

  .contents {
    @include spacing-h;
    @include spacing-v;
    @include rhythm-v-compact;
  }

  .node-date {
    @include type-small;
    display: block;
    margin-bottom: gap('base');
  }

  .post-abstract {
    padding-bottom: gap('medium');
    margin-bottom: gap('huge');
    color: var(--root-scheme-muted);
    font-size: responsive-type-size('medium');
    font-style: italic;
    border-bottom: 1px solid var(--root-scheme-dim);

    p {
      margin: gap('base') 0;
    }
  }

  /* stylelint-disable-line selector-max-compound-selectors */
  .post-content > p:first-child::first-letter {
    float: left;
    padding-top: 5px;
    padding-right: gap('small', 1.5);
    font-size: 350%;
    line-height: 0.9;
    color: var(--root-scheme-muted);
  }
}
