@import '../../styles/mixins/layout';
@import '../../styles/mixins/scheme';

a.external-link {
  position: relative;
  text-decoration: none;

  &::after {
    content: ' ';
    position: relative;
    display: inline-block;
    top: gap('tiny');
    margin-left: gap('tiny');
    width: gap('base', 1.5);
    height: gap('base', 1.5);
    background-color: var(--root-scheme-a);
    mask-image: url('/assets/icons/curved-arrow-svgrepo-com.svg');
  }

  &:hover {
    &::after {
      background-color: var(--root-scheme-active);
    }
  }
}
