@import '../../styles/mixins/layout';

.has-anchor {
  position: relative;
  outline: none;

  .handle {
    position: absolute;
    top: gap('large', -2);
    padding-top: gap('large', 2);
    left: gap('medium', -1);
    outline: none;
    border: none;
    width: 0px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &::before {
      display: block;
      content: '¶';
      width: gap('medium');
      text-align: center;
      font-size: 0.5em;
      line-height: 2em;
    }
  }

  &:focus,
  &:hover {
    .handle {
      opacity: 1;
    }
  }
}
