@import '../../styles/mixins/layout';
@import '../../styles/mixins/scheme';

.md-checkbox {
  position: relative;
  content: ' ';
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 0.05em solid var(--root-scheme-muted);
  box-shadow: inset 0 0 var(--root-scheme-muted);
  border-radius: 0.15em;

  input {
    display: none;
  }

  &.is-checked {
    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: -0.08em;
      width: 0.5em;
      height: 0.75em;
      border: 0.1em solid var(--root-scheme-muted);
      border-top-color: transparent;
      border-left-color: transparent;
      transform: rotate(40deg);
      backface-visibility: hidden;
      transform-origin: 100% 100%;
    }
  }
}
